<!doctype html>
<html lang="en">
  <head>
    <title>Windows Subsystem for Linux</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>
<body>
<div class="container">
  <h1></h1>

<div class="bg-warning text-white"></div>



<div class="bg-primary text-white"></div>



<div class="bg-dark text-white"></div>



<div class="bg-danger text-white"></div>



<div class="bg-warning"></div>


</div>

</body>

</html>

アンカータグ　<a href=""></a>